<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {{ content_for_header }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <div id="main-container" class="grid-row justify-between">
    <header id="header" class="grid-item no-gutter item-s-12 item-m-3 item-l-2">
      <div class="grid-row">
        <div id="logo-holder" class="grid-item item-s-10 padding-top-small padding-bottom-small">
          <a href="/" class="u-block">
            <img src="{{ 'fashionshoes-graphic.png' | asset_img_url: '113x' }}" />
            <h1 class="font-size-basic margin-top-small">&#9884;Fashion Shoes</h1>
          </a>
        </div>
      </div>
      <nav class="grid-row nav-menu padding-top-small padding-bottom-small">
        <div class="grid-item item-s-12 margin-bottom-basic">
          <a href="/cart" class="link-underline">Shopping Cart: {{ cart.item_count }}</a>
        </div>
        <div class="grid-item item-s-12 margin-bottom-basic">
          <a href="/story" class="link-underline">Story</a>
        </div>
        <div class="grid-item item-s-12 margin-bottom-basic">
          <a href="/devils-knot" class="link-underline">How to tie the Devil's Knot</a>
        </div>
        <div class="grid-item item-s-12 margin-bottom-basic">
          <a href="/policies" class="link-underline">Our policies</a>
        </div>
      </nav>
      <div id="catalog-controls" class="margin-top-basic">
        <div id="range-row" class="grid-row justify-between margin-bottom-basic">
          <div class="grid-item dice font-sans">⚁</div>
          <div class="grid-item dice font-sans">⚂</div>
          <div class="grid-item dice font-sans">⚃</div>
          <div class="grid-item item-s-12">
            <input id="grid-range" type="range" min="2" max="4" />
          </div>
        </div>
        <fieldset id="toggles">
          <div class="catalog-toggle">
            <div class="toggle-input-holder">
              <input type="checkbox" id="toggle-mens" name="mens" checked />
              <div class="phantom-check"></div>
            </div>
            <label for="toggle-mens">"Mens"</label>
          </div>
          <div class="catalog-toggle">
            <div class="toggle-input-holder">
              <input type="checkbox" id="toggle-womens" name="womens" checked />
              <div class="phantom-check"></div>
            </div>
            <label for="toggle-womens">"Womens"</label>
          </div>
        </fieldset>
        {% if settings.keywords != blank %}
        <div id="keywords" class="margin-top-basic">
          <span>Keywords:</span>
          <p>{{ settings.keywords }}</p>
        </div>
        {% endif %}
      </div>
    </header>

    <div id="athletic-shoe">&#128095;</div>

    <main id="main-content" class="grid-item no-gutter item-s-12 item-m-8 item-l-9">
      {{ content_for_layout }}
    </main>

    <footer id="footer" class="grid-item no-gutter item-s-12">
      <div class="grid-row">
        <div class="grid-item item-s-12 text-align-center">
          <h2 class="font-uppercase">Contact</h2>
        </div>
      </div>
      <div class="grid-row justify-end text-align-right">
        {% if settings.contact_email != blank %}
        <div class="grid-item item-s-6 item-m-4 item-l-3">
          <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
        </div>
        {% endif %}
        {% if settings.contact_instagram != blank %}
        <div class="grid-item item-s-6 item-m-4 item-l-3">
          <a href="https://instagram.com/{{ settings.contact_instagram }}">@{{ settings.contact_instagram }}</a>
        </div>
        {% endif %}
      </div>
    </footer>
  </div>

  {{ 'library.js'  | asset_url | script_tag }}
  {{ 'main.js'  | asset_url | script_tag }}
</body>
</html>
